<div class="toggle-body">
    <span class="material-icons pt-1">search</span>
    <input class="mt-2" type="text" placeholder="Select patient by Last Name, First Name, Cell No, Account No or DOB"
        value="">
</div>

<div class="Patient-bar mt-1">
    <div class="Main-heading">
        <div>Recent Patients</div>
    </div>

    <div class="Patient mt-3" routerLink="/record">
        <div>
            <img src="images/patients/Avatar.svg">
        </div>
        <div>
            <div class="name">
                <div>Martin, Joe</div>
            </div>
            <div class="info">
                <div>Male 34 Y DOB 14/09/1985 Cell: (212) 345 72890 A/C # 50471</div>
            </div>
        </div>
    </div>

    <div class="Patient mt-3" routerLink="/record">
        <div>
            <img src="images/patients/Avatar (1).svg">
        </div>
        <div>
            <div class="name">
                <div>James, Carter</div>
            </div>
            <div class="info">
                <div>Male 34 Y DOB 14/09/1985 Cell: (212) 345 72890 A/C # 50471</div>
            </div>
        </div>
    </div>

    <div class="Patient mt-3">
        <div>
            <img src="images/patients/Avatar (2).svg">
        </div>
        <div>
            <div class="name">
                <div>Michael, Clark</div>
            </div>
            <div class="info">
                <div>Male 34 Y DOB 14/09/1985 Cell: (212) 345 72890 A/C # 50471</div>
            </div>
        </div>
    </div>

    <div class="Patient mt-3">
        <div>
            <img src="images/patients/Avatar (3).svg">
        </div>
        <div>
            <div class="name">
                <div>Smith, John</div>
            </div>
            <div class="info">
                <div>Male 34 Y DOB 14/09/1985 Cell: (212) 345 72890 A/C # 50471</div>
            </div>
        </div>
    </div>

    <div class="Patient mt-3">
        <div>
            <img src="images/patients/Avatar (4).svg">
        </div>
        <div>
            <div class="name">
                <div>Serena, Williams</div>
            </div>
            <div class="info">
                <div>Male 34 Y DOB 14/09/1985 Cell: (212) 345 72890 A/C # 50471</div>
            </div>
        </div>
    </div>
</div>