.record-section {
    .patient-info {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        border: 1px solid #F0F0F0;
        border-radius: 3px;
        padding: 10px;

        .up {
            font-weight: 500;
        }

        .main-details {
            .name {
                font-size: 20px;
                font-weight: 600;
            }

            .contact {
                font-weight: 500;
                font-size: 16px;
            }

            .balance {
                font-size: 14px;
                font-weight: 400;

                span {
                    font-weight: 500;
                }
            }
        }

        .labels {
            display: flex;
            gap: 2px;
            flex-wrap: wrap;
            margin-left: 10px;
            margin-right: 18px;

            .label1 {
                background-color: #FFFAE9;
                padding: 4px;
                width: 42px;
                height: 23px;
                color: #424242;
                font-size: 12px;
                font-weight: 400;
                border-radius: 3px;
            }

            .label2 {
                background-color: #EDF4F7;
                padding: 4px;
                width: 62px;
                height: 23px;
                color: #424242;
                font-size: 12px;
                font-weight: 400;
                border-radius: 3px;
            }
        }

        .sub-details {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .btn {
                padding: 0px 8px;
                border-right: 1px solid #F0F0F0;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;

                span {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    .patient-sub-info {
        border: 1px solid #F0F0F0;
        border-radius: 3px;
        padding: 15px;

        .title {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #707070;
        }

        .field1 {
            font-size: 14px;
            font-weight: 400;
        }

        .num-box {
            border: 1px solid #F0F0F0;
            padding: 7px 15px;
            border-radius: 3px;
            font-weight: 200;
            margin-left: 32px;
        }

        .type-box {
            border: 1px solid #ddd9d9;
            padding: 7px 10px;
            width: 120px;
            border-radius: 3px;

            span {
                cursor: pointer;
            }
        }

        .comment-area {
            .title {
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
            }

            .slider {
                transform: scale(1.0);
                transform-origin: left center;
            }

            .subtitle {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }

            .recurring {
                font-weight: 300;
                font-size: 16px;
                margin-left: 25px;
                justify-content: start;
                align-items: center;
                max-width: 340px;

                .number-of {
                    border: 1px solid #F0F0F0;
                    padding: 7px 15px;
                    border-radius: 3px;
                    margin-left: 32px;
                }
            }

            .week-bar {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;
                margin-left: 168px;
                margin-top: 10px;
                max-width: 300px;

                .day {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #F0F0F0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .day:hover {
                    background-color: #184b8b;
                    color: white;
                    cursor: pointer;
                }
            }

            .month-bar {
                margin-left: 164px;
                margin-top: 15px;
                .content{
                    align-items: center;
                }
                .first{
                    margin-left: 34px;
                }
            }

            .calander-bars {
                .content {
                    display: flex;
                    align-items: center;

                    .calendar {
                        width: 150px;
                        height: 60px;
                        background-color: white;
                        margin-top: 15px;
                    }

                    .visit {
                        font-weight: 200;
                    }
                }
            }
        }
    }

    .Payment{
        border: 1px solid #F0F0F0;
        border-radius: 3px;
        padding: 15px;
        .heading{
            font-weight: 500;
            font-size: 18px;
        }
        .payment-bar{
            display: flex;
            gap: 10px;
            .btn.custom{
                border: 1px solid #d2cbcb;
                border-radius: 3px;
            }
        }
    }
}

.button-custom {
    border: 1px solid #E0E0E0;
    width: 200px;
    height: 32px;
    background-color: white;
    color: #707070;
    border-radius: 4px;
}

.dropdown-custom {
    background-color: white;
    width: 250px;
    border: 1px solid #F0F0F0;
    margin-top: 10px;
    border-radius: 3px;

    .titles {
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;

        .title {
            cursor: pointer;
        }

        .title.active {
            border-bottom: 2px solid #0f6cbd;
        }
    }

    .search-bar-custom.apear {
        display: block;
        width: 250px;
        height: 50px;
    }

    .search-bar-custom {
        display: none;
    }

    .search-icon-custom {
        display: none;
    }

    .search-icon-custom.apear {
        display: block;
        cursor: pointer;
    }

    .list-area {
        padding: 0px 10px;
    }
}