// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$frontend-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

.mat-mdc-text-field-wrapper {
  .mat-mdc-form-field-flex {
    height: 24px !important;
  }
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 15px !important;
}

.mat-mdc-select-arrow svg {
  top: -161% !important;
}

input.mat-mdc-input-element.mat-datepicker-input {
  position: relative;
  bottom: 6px;
}

input.mat-mdc-input-element.mat-mdc-form-field-input-control.mdc-text-field__input.cdk-text-field-autofill-monitored {
  bottom: 11px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}

.custom-menuloc {
  .mat-mdc-menu-content {
    padding: 0px !important;
    background-color: white !important;

    button {
      margin-bottom: -5px;
    }

    button:last-child {
      margin-bottom: 0px;
    }

    button.mat-mdc-focus-indicator:hover {
      background-color: white;
    }

    .mat-mdc-menu-item {
      padding-left: 5px !important;
      padding-right: 5px !important;

      .mat-mdc-menu-item-text {
        background-color: white;

        .mdc-checkbox__background {
          .mdc-checkbox__checkmark {
            background-color: #f5f5f5;
            color: #0f6cbd;
            border-color: #0f6cbd;
            padding: 2px;
          }
        }
      }

      .mat-mdc-menu-item-text:hover {
        background-color: #f5f5f5;
        border-radius: 3px;

        .mdc-label {
          font-weight: 500;
        }
      }
    }
  }
}

.custom-weekloc,
.custom-dailyloc {
  .mat-mdc-menu-content {
    padding: 5px !important;
    background-color: white !important;
    display: flex;
    flex-direction: column;
    gap: 5px;

    button {
      min-height: 20px;
      padding: 8px;
      border-radius: 3px;

    }

    button.mat-mdc-menu-trigger {
      padding-right: 5px;
    }

    button.mat-mdc-focus-indicator:hover {
      background-color: #f6f6f6;
    }

  }
}

.dropdown-custom {
  .second-popover {
    .mat-mdc-form-field.search-bar-custom.p-3 {
      padding: 0px !important;
    }
  }
}

.mde-popover-content {
  padding: 5px !important;
  margin-left: 150px;

  .dropdown-custom {
    width: 300px !important;

    .mdc-notched-outline {
      border-color: aqua !important;
    }

    .mat-mdc-form-field-icon-prefix {
      .mat-icon {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
      }
    }

    .mat-mdc-form-field .search-bar-custom .p-3 {
      padding: 0px !important;
      padding-left: 12px !important;
    }

    .mat-mdc-text-field-wrapper {
      margin-left: 9px;
      width: 277px;
      height: 31px px;
    }

    .mdc-checkbox__checkmark {
      background-color: #f5f5f5;
      color: #0f6cbd;
      border-color: #0f6cbd;
      padding: 2px;
    }

    .titles {
      padding: 11px 13px !important;
      font-size: 15px;

      .title.second {
        margin-right: 70px !important;
      }
    }

    .mat-mdc-selection-list {
      padding: 0px !important;
    }

    .mdc-list-item--with-trailing-checkbox.mat-mdc-list-item {
      padding-left: 3px !important;
      max-height: 35px;

      .mdc-list-item__content {

        .mat-mdc-list-item-unscoped-content {
          font-size: 14px !important;
        }
      }
    }
  }
}

.mat-mdc-form-field.field1 {
  width: 170px;
  height: 32px;
}

/* Remove notch outline pieces */
.mat-mdc-form-field.field1 .mdc-notched-outline__notch,
.mat-mdc-form-field.field1 .mdc-notched-outline__leading,
.mat-mdc-form-field.field1 .mdc-notched-outline__trailing {
  border: none !important;
}

/* Add your own custom border */
.mat-mdc-form-field.field1 .mdc-notched-outline {
  border: 1px solid #E0E0E0 !important;
  border-radius: 4px;
}

mat-form-field mat-label {
  color: #707070;
}

.mat-mdc-select-panel {
  background-color: white !important;
}

.calander-bars {
  .mdc-text-field {
    background-color: white !important;
    border: 1px solid #E0E0E0;
    width: 170px;
  }

  .mdc-line-ripple {
    display: none !important;
    /* Hides the underline */
  }

  .mat-mdc-icon-button {
    margin-top: 14px;
  }

  /* Shrink the entire slide toggle */
  mat-slide-toggle.slider {
    transform: scale(0.85);
    /* Reduce size */
    transform-origin: left;
    font-size: 0.85rem;
  }

}

.custom-datepicker-panel {
  position: absolute;
  left: 5px;
  top: -30px;
}

.mat-calendar {
  background-color: white;
  border-radius: 5px;
  box-shadow:
    0px 0px 2px rgba(0, 0, 0, 0.12),
    0px 8px 16px rgba(0, 0, 0, 0.14);

  .mat-calendar-header {
    padding-left: 0px !important;
    padding-right: 10px !important;
  }

  .mat-calendar-previous-button,
  .mat-calendar-next-button {
    width: 24px !important;
    height: 24px !important;
    padding: 0px !important;

    .mat-mdc-button-ripple,
    .mat-ripple-element {
      width: 24px !important;
      height: 24px !important;
      border-radius: 50% !important;
    }
  }

  .mat-calendar-controls {
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 25px;
    border-bottom: 1px solid #f8f4f4;

    .mdc-button__label {
      font-size: 16px;

      svg {
        display: none;
      }
    }
  }
}

.main-page-content {

  .mat-mdc-tab-label-container {
    flex-grow: 0 !important;

    .mdc-tab__text-label{
      font-weight: 400;
      color: #616161;
    }
  }
}


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($frontend-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($frontend-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($frontend-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}